:root {
  --decay-timer: 60s;
  background-color: #ecdbba;
}

.countdown {
  font-size: 60px;
  margin: auto;
  width: 50%;
}
.currentStage {
  font-size: 40px;
  text-align: center;
}

svg {
  width: 25px;
  height: 25px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timelost {
  display: none;
  font-size: 30px;
  margin-top: 0px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #c1a97e;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Basic", sans-serif;
  height: 200px;
  justify-content: center;
  margin: auto;
  padding: 30px;
  width: 350px;
}

.container:hover {
  background-color: #a3957a;
  transition: 0.4s;
}

@keyframes warning {
  50% {
    color: red;
  }
}

#footer {
  font-family: "Segoe UI";
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
}

.tomato {
  animation: tomato-decay;
  animation-duration: var(--decay-timer);
  animation-fill-mode: forwards;
  animation-play-state: paused;
  background-color: red;
  border-radius: 40% / 50% 50% 50% 50%;
  box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.3) inset;
  display: block;
  height: 200px;
  position: absolute;
  top: 60px;
  width: 250px;
}

@keyframes tomato-decay {
  0% {
  }
  90% {
    background-color: #c84b31;
  }
  95% {
    border-radius: 40% / 50% 50% 40% 30%;
    box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.3) inset;
  }
  100% {
    background-color: #c84b31;
    border-radius: 40% / 50% 50% 30% 20%;
    box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.3) inset,
      -10px 20px 10px rgb(211, 228, 205) inset;
  }
}
.tomato-sheen {
  background-color: coral;
  border-radius: 50%;
  bottom: 105px;
  box-shadow: 0 0 40px 60px coral;
  display: block;
  height: 1px;
  opacity: 0.5;
  position: absolute;
  right: 95px;
  width: 1px;
}
.eyes {
  animation: blink 7s infinite;
  background: black;
  border-radius: 50%;
  bottom: 105px;
  box-shadow: 65px -5px 0 black;
  height: 22px;
  position: absolute;
  right: 120px;
  width: 22px;
}

.dead-eye-left {
  background: black;
  bottom: -70px;
  border-radius: 50%;
  height: 22px;
  position: relative;
  right: -120px;
  transform: rotate(40deg);
  visibility: hidden;
  width: 4px;
}
.dead-eye-left:after {
  background: black;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: -9px;
  position: absolute;
  top: 9px;
  width: 22px;
}

.dead-eye-right {
  background: black;
  border-radius: 50%;
  bottom: -40px;
  height: 22px;
  position: relative;
  right: -180px;
  transform: rotate(40deg);
  visibility: hidden;
  width: 4px;
}
.dead-eye-right:after {
  background: black;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: -9px;
  position: absolute;
  top: 9px;
  width: 22px;
}

@keyframes blink {
  0%,
  40% {
    transform: scale(1, 1);
  }
  41% {
    transform: scale(1, 0);
  }
  42%,
  98% {
    transform: scale(1, 1);
  }
  99% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.eye-spark1 {
  animation: fade-spark;
  animation-duration: var(--decay-timer);
  animation-fill-mode: forwards;
  animation-play-state: paused;
  background: white;
  border-radius: 50%;
  bottom: 12px;
  box-shadow: 65px -5px 0 white;
  height: 7px;
  position: absolute;
  right: 6px;
  width: 7px;
}

.eye-spark2 {
  animation: fade-spark;
  animation-duration: var(--decay-timer);
  animation-fill-mode: forwards;
  animation-play-state: paused;
  background: white;
  border-radius: 50%;
  bottom: 7px;
  box-shadow: 65px -5px 0 white;
  height: 4px;
  position: absolute;
  right: 14px;
  width: 4px;
}

@keyframes fade-spark {
  100% {
    opacity: 0;
    box-shadow: black;
  }
}

.cheeks {
  animation: cheek-fade;
  animation-duration: var(--decay-timer);
  animation-fill-mode: forwards;
  animation-play-state: paused;
  background: lightsalmon;
  border-radius: 50%;
  bottom: 91px;
  box-shadow: 107px -15px 0 lightsalmon;
  height: 15px;
  opacity: 70%;
  position: absolute;
  right: 144px;
  width: 15px;
}

@keyframes cheek-fade {
  100% {
    opacity: 0;
  }
}

.mouth {
  animation: sadness;
  animation-duration: var(--decay-timer);
  animation-fill-mode: forwards;
  animation-play-state: paused;
  background: transparent;
  border-bottom: 2px solid #000;
  border-radius: 50%;
  bottom: 87px;
  height: 34px;
  position: absolute;
  right: 75px;
  transform: rotate(-10deg);
  width: 40px;
}

@keyframes sadness {
  100% {
    border-radius: 0%;
    height: 1px;
  }
}

.pedicel {
  animation: pedicel-decay;
  animation-duration: var(--decay-timer);
  animation-fill-mode: forwards;
  animation-play-state: paused;
  background: #346751;
  border: 6px solid #346751;
  border-radius: 0px 50px;
  height: 40px;
  position: absolute;
  right: 130px;
  transform: rotate(-30deg);
  top: -30px;
  width: 10px;
}

.sepal1 {
  animation: sepal-decay;
  animation-duration: var(--decay-timer);
  animation-fill-mode: forwards;
  animation-play-state: paused;
  border-bottom: 20px solid #346751;
  border-left: 90px solid transparent;
  border-radius: 40%;
  border-right: 70px solid transparent;
  content: "";
  display: block;
  height: 0px;
  left: 40px;
  position: absolute;
  transform: rotate(10deg);
  width: 0px;
}
.sepal2 {
  animation: sepal-decay;
  animation-duration: var(--decay-timer);
  animation-fill-mode: forwards;
  animation-play-state: paused;
  border-bottom: 20px solid #346751;
  border-left: 70px solid transparent;
  border-radius: 100%;
  border-right: 70px solid transparent;
  content: "";
  display: block;
  height: 0px;
  left: 60px;
  position: absolute;
  transform: rotate(-30deg);
  width: 0px;
}

@keyframes pedicel-decay {
  100% {
    background: #5f6956;
    border: 6px solid #81743a;
  }
}

@keyframes sepal-decay {
  100% {
    border-bottom: 10px solid #81743a;
  }
}

.fa-circle-info {
  cursor: pointer;
}

.author {
  display:inline-block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 80%;
  border-radius: 20px;
  font-size: 24px;
  font-family: "Basic", sans-serif;
  background-color: #c1a97e;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
}

.modal-content-container {
  padding: 10px;
}

.close {
  color: #c84b31;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/*
C84B31 red
346751 green
ECDBBA white
161616 black
*/
